name: CI - Build, Scan, and Push Docker Image
on:
  push:
    branches: [main]

jobs:
  build-scan-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          set -e
          docker build -t fastapi-app:latest .

      - name: Push image to Docker Hub
        run: |
          set -e
          docker tag fastapi-app:latest junjiewee/fastapi-app:latest
          docker push junjiewee/fastapi-app:latest

      - name: Free Docker space
        run: |
          docker system prune -af
          docker volume prune -f

      - name: Scan image with Trivy (remote)
        run: |
          echo "Running Trivy scan on Docker Hub image..."
          trivy image --severity HIGH,CRITICAL --exit-code 0 junjiewee/fastapi-app:latest

  deploy-and-validate:
    runs-on: ubuntu-latest
    needs: build-scan-push
    steps:
      - uses: actions/checkout@v4
      - uses: medyagh/setup-minikube@master

      - name: Apply K8s manifests
        run: |
          kubectl apply -f deployment.yaml
          kubectl apply -f service.yaml
          kubectl rollout status deployment/gpt-huggingface
          kubectl get deploy
          kubectl get svc

      - name: Install kube-score
        run: |
          curl -L https://github.com/zegl/kube-score/releases/latest/download/kube-score_1.17.0_linux_amd64.tar.gz -o kube-score.tar.gz
          tar -xzf kube-score.tar.gz
          sudo mv kube-score /usr/local/bin/

      - name: Run kube-score
        run: kube-score score --output-format ci deployment.yaml service.yaml
