name: CI - Build, Scan, and Push Docker Image

on:
  push:
    branches: [main]

jobs:
  build-scan-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t fastapi-app:latest .

      - name: Scan image with Trivy
        uses: aquasecurity/trivy-action@0.22.0
        with:
          image-ref: fastapi-app:latest
          severity: HIGH,CRITICAL
          format: table
          exit-code: 0

      - name: Push image to Docker Hub
        run: |
          docker tag fastapi-app:latest junjiewee/fastapi-app:latest
          docker push junjiewee/fastapi-app:latest

  deploy-and-validate:
    runs-on: ubuntu-latest
    needs: build-scan-push

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Minikube
        uses: medyagh/setup-minikube@master

      - name: Apply K8s manifests
        run: |
          kubectl apply -f deployment.yaml
          kubectl apply -f service.yaml
          kubectl get deploy
          kubectl get svc

      - name: Install kube-score
        run: |
          curl -L https://github.com/zegl/kube-score/releases/latest/download/kube-score_1.17.0_linux_amd64.tar.gz -o kube-score.tar.gz
          tar -xzf kube-score.tar.gz
          sudo mv kube-score /usr/local/bin/

      - name: Run kube-score
        run: kube-score score --output-format ci deployment.yaml
